<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 
	例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.ymm.common.dao.BaseDao">
	<!--表名 -->
	<sql id="tableName">
		"T_DEPT"
	</sql>
	
	<select id="findAllDept" resultType="com.ymm.emp.entity.Dept">
		select * from
		<include refid="tableName"></include>
	</select>

	<delete id="delDeptById" parameterType="String">
		delete from 
		<include refid="tableName"></include>
		where deptno = #{deptno}
	</delete>

	<update id="updateDept" parameterType="com.ymm.emp.entity.Dept">
		update
		<include refid="tableName"></include>
		<set>
			<if test="dname != null">dname = #{dname},</if>
			<if test="explain != null">explain = #{explain},</if>
		</set>
		where deptno = #{deptno}
	</update>

	<insert id="insertDept" parameterType="com.ymm.emp.entity.Dept">
		insert into
		<include refid="tableName"></include> 
		values (
		#{deptno,jdbcType=VARCHAR},#{dname,jdbcType=VARCHAR},#{explain,jdbcType=VARCHAR}
		)
	</insert>

	<select id="getDeptbyId" resultType="com.ymm.emp.entity.Dept" parameterType="String">
		select * from 
		<include refid="tableName"></include>
		where deptno = #{deptno}
	</select>
	
	<select id="getMaxIdfromDept" resultType="String">
		select
		max(to_number( deptno ))+1 from 
		<include refid="tableName"></include>
	</select>
</mapper>